<div class = "levo" >

  <mat-list role="list">

    <mat-icon class="ikonice" (click)="pocetnastrana()">apps</mat-icon>

    <mat-icon class="ikonice" (click)="mojprofil()" >perm_identity</mat-icon>

    <mat-icon class="ikonice" (click)="kategorijaprikaz()" >format_list_bulleted</mat-icon>

    <mat-icon class="ikonice" (click)="korisnikprikaz()" >people</mat-icon>




    <mat-icon class="ikonice" (click)="dark()" *ngIf="mrakbroj %2 !=1">lightbulb</mat-icon>

    <mat-icon class="ikonice" (click)="dark()" *ngIf="mrakbroj %2 == 1">lightbulb_outline</mat-icon>

    <mat-icon class="ikonicedole" (click)="logout()">logout</mat-icon>

  </mat-list>

</div>


<mat-sidenav-container class="example-container" autosize>

  <mat-sidenav #sidenav mode="side" [(opened)]="opened">

    <div class="containerlevo" >

      <p class="containerlevotekstprvo"(click)="pocetnastrana()">Pocetna strana</p>
      <p class="containerlevotekst" (click)="mojprofil()">Moje kartice</p>
      <p class="containerlevotekst" (click)="kategorijaprikaz()">Kategorije</p>
      <p class="containerlevotekst" (click)="korisnikprikaz()">Korisnici</p>

      <p class="containerlevotekst" (click)="dark()">Dark mode</p>
      <p class="containerlevotekstdole" (click)="logout()">Odjavite se</p>

    </div>

    <div class = "profil" *ngIf="sidenavprikaz == 1">
      <div class ="slika">
        <img class= "profilslika" src="assets\Slike\profilnaslika.png" alt="profilnaslika">
      </div>
      <div class="opis">
        <p class ="imeprezime">{{this.korisnik?.ime}} {{this.korisnik?.prezime}}</p>
        <p class = "username" #username>{{this.korisnik?.username}}</p>
        <p class = "email">{{this.korisnik?.email}}</p>

        </div>
      </div> 

      <div class = "kategorijee" *ngIf="sidenavprikaz == 2">

       <cdk-virtual-scroll-viewport itemSize="5" class="kategorije">

        <mat-accordion>
          <mat-expansion-panel class = "harmonika">
            <mat-expansion-panel-header (click)="ucitajKategorijeZaKorisnika()">
              <mat-panel-title>
                <p id="pratim">Pratim</p> 
              </mat-panel-title>
            </mat-expansion-panel-header>

            <mat-nav-list *ngFor="let k of kategorijaa" (click)="this.kategorijaService.setKategorija(k.naziv)" (click)="ucitajFlashcardsPoKategoriji()" (click)= "this.flashcardService.setGdeSam('Kategorija:')" (click)="this.userService.setPisac(null)">
              <p #nazivkategorije>{{k.naziv}}</p>
              <hr>
            </mat-nav-list>

            </mat-expansion-panel>
          </mat-accordion>


          <div *cdkVirtualFor="let k of kategorije;let i = index">
            <mat-list role="list">
              <mat-list-item role="listitem" class="kateg" (click)="this.kategorijaService.setKategorija(k.naziv)" (click)="ucitajFlashcardsPoKategoriji()" (click)="this.flashcardService.setGdeSam('Kategorija:')" (click)="this.userService.setPisac(null)">{{k.naziv}}</mat-list-item>
              <hr>
            </mat-list>
          </div>

        </cdk-virtual-scroll-viewport>
      </div>
        <div class = "svikorisnici" *ngIf="sidenavprikaz == 3">
          <div>
            <form>
              <mat-form-field>
                <input class="pretraga" matInput autocomplete = "off" [(ngModel)]="lajk"[ngModelOptions]="{standalone:true}" (change)="pretragaKorisnikaSearchBar(matInput)">
                  <mat-placeholder class="placeholder">Pretraga po username</mat-placeholder>

              </mat-form-field>
            </form>
          </div>

          <div class="korisnici">
            <div class = "korisnik" *ngFor= "let k of svikorisnici">
              <img class= "korisnicislika" src="assets\Slike\profilnaslika.png" alt="profilnaslika">
                <span class = "tekst">{{k.ime}} {{k.prezime}} / </span>
                  <span #pisac>{{k.username}}</span>
                    <button mat-button  (click)="tudjiprofil(pisac)">Profil</button>
                    <hr>
            </div>
          </div>
        </div>
      </mat-sidenav>

      <mat-sidenav-content>


<div class ="kartice">

  <p class = "brojkartica">Broj kartica: {{this.flashcards.length}}</p>

    <span *ngIf="this.kategorijaService.kategorija != null">
      <button class = "prati" mat-stroked-button *ngIf="this.korisnikKategorija.length == 0" (click)="postKategorija()">Zaprati</button>
      <button class = "prati" mat-stroked-button *ngIf="this.korisnikKategorija.length != 0" (click)="brisiKategorija()">Otprati</button>
    </span>

    <div class = "pozadina">
      <cdk-virtual-scroll-viewport itemSize="10" class = "example-viewport">

        <mat-card (mouseover)="toggleHover(flashcard.id)" (mouseleave)="removeHover()" [className]="flashcard.privatno ? 'privatno' : 'javno'" *cdkVirtualFor = "let flashcard of flashcards; let i = index" >
        <mat-card-content (click)="loadOne(i)">
          <p>{{seci(flashcard.pitanje)}}</p>
        </mat-card-content>
        <mat-card-actions align="end" *ngIf="this.flashcard.korisnik.username == this.usernameService.decrypt()" >

          <mat-icon class="doledugme" aria-hidden="false" aria-label="Example edit icon" *ngIf="hoveredElement === flashcard.id" (click)="ucitajeditdijalog(i)">edit</mat-icon>
          <mat-icon class="doledugme" aria-hidden="false" aria-label="Example delete icon" *ngIf="hoveredElement === flashcard.id" (click)="brisanjeDijalog(flashcard.id,flashcard.pitanje)">delete</mat-icon>

        </mat-card-actions>
        </mat-card>

      </cdk-virtual-scroll-viewport>
    </div>
</div>



</mat-sidenav-content>
</mat-sidenav-container>

