<mat-toolbar color="primary">
    <i class="material-icons" (click)="clickMenu()" *ngIf="router.url != '/login' && router.url!='/register' && router.url !='/'">menu</i>

    <div class="gore">
        <span class="naslov" [routerLink]="['/pocetna']">Flashcards</span>
        <div class=dugmici *ngIf="router.url != '/login' && router.url!='/register' && router.url !='/'">

            <span class="gdesam">{{this.flashcardService.getGdeSam()}}</span>
            <span class="gdesamm">{{this.userService.getPisac()}}</span>
            <span class="gdesamm">{{this.kategorijaService.getKategorija()}}</span>

            <button mat-fab="" color="primary" class="doledesno" (click)="openDialog()" mattooltip="Napravite novu karticu">+</button>
        </div>

    </div>
</mat-toolbar>
<router-outlet></router-outlet>