    <div class="prijava">
      <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
	  
	  
        <div class="form-group">
            <mat-form-field class="polje">
                <input type="text" name="username" #username="ngModel" required matInput [(ngModel)]="form.username">
                <mat-placeholder class="placeholder">Username</mat-placeholder>

              </mat-form-field>
        </div>

        <div class="form-group">
            <mat-form-field class="polje">
                <input type="password" name="password" #password="ngModel" required minlength="6" matInput [(ngModel)]="form.password">
                <mat-placeholder class="placeholder">Password</mat-placeholder>

              </mat-form-field>
        </div>
		
		
        <div class="form-group">
          <button mat-raised-button color="primary" (click)="onSubmit()">Prijava</button>
        </div>
    

      </form>
      
      <p>Niste registrovani?</p>
      <a [routerLink]="['/register']">Registracija</a>
    </div>
